@model HomeClinicsViewModel

@{
    ViewBag.Title = @Model.pageTitle;
}
<div class="row">
    <div class="container">
        <h1>Clinics in @ViewBag.Title</h1>
        @if (User.IsInRole("superAdmin"))
        {
            <a class="btn btn-primary float-right" asp-action="create" asp-controller="clinic">Create clinic</a>
        }
        @if (User.IsInRole("Admin") && Model.Clinics.Count()>0)
            {
                <a asp-action="Details" asp-controller="directorate" asp-route-id=" @Model.Clinics.ElementAt(0).DirectorateId"
                   class="btn btn-danger float-left">Back</a>
            }
        </div>
</div>
<div class="card-deck">
    @if (Model.Clinics.Count() <= 0)
    {
        <h2 style="color:red">No clinics in this directorate</h2>
    }
    @foreach (var clinc in Model.Clinics)
    {

        <div class="card m-3  " style="min-width: 18rem; max-width:30.5%;">

            <div class="card-header text-center">
                <h3>@clinc.Name</h3>
            </div>
            <div class="card-body text-left">
                <p>place: @clinc.Place</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="clinic" asp-action="FridegTempretures" asp-route-ClinId="@clinc.clinicId"
                   class="btn btn-primary m-1">Fridge</a>
                <a asp-action="Details" asp-controller="Clinic" asp-route-id="@clinc.clinicId"
                   class="btn btn-primary m-1">Details</a>
             @if (User.IsInRole("superAdmin"))
             {
                <a asp-action="Edit" asp-controller="Clinic" asp-route-id="@clinc.clinicId"
                   class="btn btn-primary m-1">Edit</a>
                <form method="post" asp-action="Delete" asp-controller="clinic" asp-route-id="@clinc.clinicId">
                    <span id="confirmDeleteSpan_@clinc.clinicId" style="display:none">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a  class="btn btn-primary" onclick="confirmDelete('@clinc.clinicId',false)" style="color:white">No</a>
                    </span>
                    <span id="deleteSpan_@clinc.clinicId">
                        <a onclick="confirmDelete('@clinc.clinicId',true)" class="btn btn-danger" style="color:white">Delete</a>
                    </span>

                </form>

             }
            </div>
        </div>


    }

</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}